html, body {font-family: Lucida Console, Courier New, Courier;font-size: 16px;color:#3e4758;}
.alert, .assert, .debug, .info, .warning, .error, .fatal_error{padding-left:7.5em;}
.timestamp{float:left;margin-left:-7.5em;width:5.7em;text-align:right;}
body > span.text{padding-left:7.5em;}
.revision{font: bold 2em "Times New Roman", Times, serif;text-align:center;}
.assert, .error, .fatal_error{color:Red;}
.debug, .info, .warning{color: Blue;}
.location{margin:0.5em 0 1em 2em;}
.location dt{float: left;}
.location dd{margin-left:10em;}
.tbl{background:none repeat scroll 0 0 #FFFFFF;border-collapse:collapse;font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size:14px;margin:20px;text-align:left;width:480px;margin-left: auto;margin-right: auto;white-space:nowrap;}
.tbl span{display:block;white-space:nowrap;}
.tbl th{border-bottom:2px solid #6678B1;color:#003399;font-size:16px;font-weight:normal;padding:10px 8px;}
.tbl td{border-bottom:1px solid #CCCCCC;color:#666699;padding:6px 8px;}
.tbl tbody tr:hover td{color:#000099;}
.tbl caption{font:italic 16px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;padding:0 0 5px;text-align:right;}